<html>

<head>
    <% include ./header %>
</head>

<body>
    <% include ./navbar %>
    <div class="container">
        <h4>Travel ,CheckIn With SmartLock</h4>
        <br>
        <div class="row right">
            <button class="btn">成為房東</button>
            <button class="btn">我的租屋資訊</button>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <ul class="tabs">
                    <li class="tab">
                        <a class="active" href="#test1">
                            <span class="black-text">長租</span>
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="#test2">
                            <span class="black-text">短租</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: -20px">
            <div id="test1" class="col s12 m6">
                <div class="card-panel" style="max-height: 300px;">
                    <div class="container">
                        <input type="text" placeholder="Destination">
                        <div class="row">
                            <div class="col s6">
                                <input type="text" class="datepicker" placeholder="Start Date">
                            </div>
                            <div class="col s6">
                                <input type="text" class="datepicker" placeholder="End Date">
                            </div>
                        </div>
                        <input type="text" placeholder="People">
                    </div>
                </div>
            </div>
            <div id="test2" class="col s12 m6">
                <div class="card-panel" style="max-height: 230px;">
                    <div class="container">
                        <input type="text" placeholder="Destination">
                        <div class="row">
                            <div class="col s6">
                                <input type="text" class="datepicker" placeholder="Start Date">
                            </div>
                            <div class="col s6">
                                <input type="text" class="datepicker" placeholder="End Date">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <input type="text" placeholder="Adults">
                            </div>
                            <div class="col s6">
                                <input type="text" placeholder="Childern">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <iframe width="100%" height="50%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSS8sRXmqQjQRB_U7jlAHjZ4&key=AIzaSyB8EOYSeapXPxvqNyJX-Dt85WlfxPvLiFo"
                    allowfullscreen></iframe>
            </div>
        </div>

        <h4>Rooms</h4>
        <div class="row">

            <% data.map((i) => { %>
                <div class="col s6 m4">
                    <a href="book/ordered/<%=i.id%>">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/<%=i.image%>">
                            </div>
                            <div class="card-content">
                                <span><%=i.item_name%></span>&nbsp; <br>
                                 Price: <span><%=i.price_perday%></span>
                                 <br>
                                <span class="activator grey-text text-darken-4"><%=i.location%></span>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
</body>

<script>
    //for tabs
    $(document).ready(function () {
        // for tabs must
        $('.tabs').tabs();

        // for datapicker must
        $('.datepicker').datepicker();
    });
</script>

</html>