<html>

<head>
    <title>
        <%= title %>
    </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

</head>

<body>
    <div class="container">
        <h1>User List</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>password</th>
                    <th>email</th>
                    <th>address</th>
                    <th>privateKey</th>
                    <th>status</th>
                    <th>creation_time</th>
                </tr>
            </thead>
            <tbody>
                <% data.map((i) => { %>
                    <tr>
                        <td>
                            <%= i.id%>
                        </td>
                        <td>
                            <%= i.name%>
                        </td>
                        <td>
                            <%= i.password%>
                        </td>
                        <td>
                            <%= i.email%>
                        </td>
                        <td>
                            <%= i.address%>
                        </td>
                        <td>
                            <%= i.privatekey%>
                        </td>
                        <td>
                            <%= i.status%>
                        </td>
                        <td>
                            <%= i.creation_time%>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>

    </div>
</body>

</html>